DEBUG=True
SECRET_KEY=django-insecure-tourpack-change-this-in-production-2024
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL
DB_ENGINE=django.db.backends.mysql
DB_NAME=tourpack_db
DB_USER=tourpack_user
DB_PASSWORD=tourpack_pass
DB_HOST=127.0.0.1
DB_PORT=3306
